body
{
    background-image: url(pic2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
table 
{
    background-color:rgba(000,000,000,0.8);
    width: 450px;
    height:600;
    margin: 0 auto;
}
h1
{
    background-color: purple;
    color: aliceblue;
}
td
{
    color:aliceblue;
}
th
{
    color:pink;
}
.caption
{
    background-color: purple;
    height: 10px;
}